.block-editor-media-placeholder__url-input-form {
	min-width: 260px;

	@include break-small() {
		width: 300px;
	}
}

// Targeting input as we're using text instead of URLs for relative paths.
.block-editor-media-placeholder__url-input-form input {
	/* rtl:ignore */
	direction: ltr;
}
