.wp-block-archives {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;
}

ul.wp-block-archives {
	padding-left: $grid-unit-20;
}

.wp-block-archives-dropdown {
	label {
		display: block;
	}
}
