
.dataviews-empty {
	max-width: $modal-width-medium;
	text-align: center;
}

.dataviews-empty__illustration {
	width: 100%;
}

.dataviews-empty__heading {
	color: $gray-900;
	font-size: $font-size-large;
	line-height: $font-line-height-large;
	font-weight: $font-weight-medium;
}

.dataviews-empty__description {
	color: $gray-700;
	font-size: $font-size-medium;
	line-height: $font-line-height-medium;
	text-wrap: balance;
}
