$pagination-margin: 0.5em;
.fp-block-comments-pagination {
	// Increased specificity to override blocks default margin.
	> .fp-block-comments-pagination-next,
	> .fp-block-comments-pagination-previous,
	> .fp-block-comments-pagination-numbers {
		font-size: inherit;
	}
	.fp-block-comments-pagination-previous-arrow {
		margin-right: 1ch;
		display: inline-block; // Needed so that the transform works.
		// chevron(`»`) symbol doesn't need the mirroring by us.
		&:not(.is-arrow-chevron) {
			// Flip for RTL.
			transform: scaleX(1) #{"/*rtl:scaleX(-1);*/"}; // This points the arrow right for LTR and left for RTL.
		}
	}
	.fp-block-comments-pagination-next-arrow {
		margin-left: 1ch;
		display: inline-block; // Needed so that the transform works.
		// chevron(`»`) symbol doesn't need the mirroring by us.
		&:not(.is-arrow-chevron) {
			// Flip for RTL.
			transform: scaleX(1) #{"/*rtl:scaleX(-1);*/"}; // This points the arrow right for LTR and left for RTL.
		}
	}

	&.aligncenter {
		justify-content: center;
	}
}
