.fp-block-text-columns {
	display: flex;

	&.aligncenter {
		display: flex;
	}

	.fp-block-column {
		margin: 0 1em;
		padding: 0;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&.columns-2 .fp-block-column {
		width: calc(100% / 2);
	}
	&.columns-3 .fp-block-column {
		width: calc(100% / 3);
	}
	&.columns-4 .fp-block-column {
		width: calc(100% / 4);
	}
}
