.wp-block-code {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	// Provide a minimum of overflow handling and ensure the code markup inherits
	// the font-family set on pre.
	code {
		display: block;
		font-family: inherit;
		overflow-wrap: break-word;
		white-space: pre-wrap;
		// Set direction and avoid inheriting alignment from a parent element.
		/*!rtl:begin:ignore*/
		direction: ltr;
		text-align: initial;
		/*!rtl:end:ignore*/
	}
}
.wp-block-code-with-line-numbers {
	display: flex;
}

.line-numbers {
	padding-right: 8px;
	text-align: right;
	border-right: 1px solid #ddd;
	color: #6a737d;
	user-select: none;
	margin: 1em 0;
}

.code-content {
	flex-grow: 1;
	padding-left: 8px;
	overflow: auto;
}
