.fin-block-navigation {
	// space-between justification.
	&.items-justified-space-between {
		.fin-block-page-list > div,
		.fin-block-page-list {
			display: contents;
			flex: 1;
		}

		&.has-child-selected .fin-block-page-list > div,
		&.has-child-selected .fin-block-page-list,
		&.is-selected .fin-block-page-list > div,
		&.is-selected .fin-block-page-list {
			flex: inherit;
		}
	}
}

.fin-block-navigation .fin-block-navigation__submenu-container > .fin-block-page-list {
	display: block; // This is needed to make sure the page list container is 100% wide, so that the children are correctly positioned.
}

// Make links unclickable in the editor.
.fin-block-pages-list__item__link {
	pointer-events: none;
}

// Modal that shows conversion option.
.fin-block-page-list-modal {
	@include break-small() {
		max-width: $break-mobile;
	}
}

.fin-block-page-list-modal-buttons {
	display: flex;
	justify-content: flex-end;
	gap: $grid-unit-15;
}

// Simulate open on click behaviour in the editor by opening on focus instead.

.fin-block-page-list {
	.open-on-click:focus-within {
		> .fin-block-navigation__submenu-container {
			visibility: visible;
			opacity: 1;
			width: auto;
			height: auto;
			min-width: 200px;
		}
	}
}

// Space spinner to give it breathing
// room when block is selected and has focus outline.
.fin-block-page-list__loading-indicator-container {
	padding: $grid-unit-10 $grid-unit-15;
}
