%finBlockQuote-shared {
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: $block-edge-to-content;
	margin-left: 0;
}

.finBlockQuoteLight {
	@extend %finBlockQuote-shared;
	border-left-color: $black;
}

.finBlockQuoteDark {
	@extend %finBlockQuote-shared;
	border-left-color: $white;
}

.finBlockQuoteCitation {
	margin-top: 16px;
	font-size: 14px;
}

.paddingWithBackground {
	padding-top: $block-edge-to-content - $block-selected-margin;
}
