%fpBlockPreformattedLightColor {
	background-color: $gray-light;
}

%fpBlockPreformattedDarkColor {
	background-color: $gray-100;
}

.fpBlockPreformattedLight {
	@extend %fpBlockPreformattedLightColor;
	padding: 12px 16px;
	border-radius: 4px;
}

.fpRichTextLight {
	@extend %fpBlockPreformattedLightColor;
}

.fpBlockPreformattedDark {
	@extend %fpBlockPreformattedDarkColor;
}

.fpRichTextDark {
	@extend %fpBlockPreformattedDarkColor;
}

.fp-block-preformatted__no-background {
	background: transparent;
	padding: 0;
}
