%finBlockPreformattedLightColor {
	background-color: $gray-light;
}

%finBlockPreformattedDarkColor {
	background-color: $gray-100;
}

.finBlockPreformattedLight {
	@extend %finBlockPreformattedLightColor;
	padding: 12px 16px;
	border-radius: 4px;
}

.finRichTextLight {
	@extend %finBlockPreformattedLightColor;
}

.finBlockPreformattedDark {
	@extend %finBlockPreformattedDarkColor;
}

.finRichTextDark {
	@extend %finBlockPreformattedDarkColor;
}

.fin-block-preformatted__no-background {
	background: transparent;
	padding: 0;
}
