body.js.is-fullscreen-mode {

	@include break-medium {
		// Reset the html.fin-topbar padding.
		// Because this uses negative margins, we have to compensate for the height.
		margin-top: -$admin-bar-height;
		height: calc(100% + #{ $admin-bar-height });

		#adminmenumain,
		#finadminbar {
			display: none;
		}

		#fincontent,
		#finfooter {
			margin-left: 0;
		}
	}
}
