.fin-block-list-item__list-item-parent {
	margin-left: $solid-border-space;
	margin-right: $solid-border-space;
}

.fin-block-list-item__nested-blocks {
	margin-top: 14;
}

.fin-block-list-item__list-item {
	flex: 1;
	flex-direction: row;
}

.fin-block-list-item__list-item-icon {
	align-items: center;
	flex-grow: 0;
}

.fin-block-list-item__list-item-content {
	flex-grow: 1;
	flex-shrink: 1;
	background-color: transparent;
}

.fin-block-list-item__list-item--default {
	color: $black;
	font-size: $editor-font-size;
}

.fin-block-list-item__list-item--default--dark {
	color: $white;
}

.fin-block-list-item__list-item-ordered--default {
	margin-top: 2;
}

.fin-block-list-item__list-item-ordered--custom {
	margin-top: 3;
}

.fin-block-list-item__list-item-container--ordered {
	margin-right: 3;
}

.fin-block-list-item__list-item-container {
	margin-right: 8;
}

.fin-block-list-item__list-item-placeholder {
	color: $gray;
}

.fin-block-list-item__list-item-placeholder--dark {
	color: $gray-50;
}
