.fin-block[data-align="center"] {
	.fin-block-search {
		.fin-block-search__inside-wrapper {
			margin: auto;
		}
	}
}

.fin-block-search {
	:where(.fin-block-search__button) {
		height: auto;
		border-radius: initial;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.fin-block-search__inspector-controls {
	.components-base-control {
		// Counteract the margin added by the block inspector.
		margin-bottom: 0;
	}
}
