.wp-block-rss li a > div {
	display: inline;
}

.wp-block-rss__placeholder-form .wp-block-rss__placeholder-input {
	flex: 1 1 auto;
}
// resetting all the various block support styles when skipping block supports in the server-side rendering
// to prevent the double-up of block support styles within the editor when server-side rendering
.wp-block-rss .wp-block-rss {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: inherit;
	background: inherit;
}
