.wp-block-spacer {
	clear: both;

	height: var(--wp-block-spacing-height-desktop);

	@media screen and (max-width: 960px) {
		height: var(--wp-block-spacing-height-tablet);
	}

	@media screen and (max-width: 600px) {
		height: var(--wp-block-spacing-height-mobile);
	}
}
