.wp-block-latest-posts {
	// Apply overflow for post items, so any floated featured images won't crop the focus style.
	> li {
		overflow: hidden;
	}
}

.wp-block-latest-posts li a > div {
	display: inline;
}

:root :where(.wp-block-latest-posts) {
	padding-left: 2.5em;
}
:root {
	:where(.wp-block-latest-posts.is-grid),
	:where(.wp-block-latest-posts__list) {
		padding-left: 0;
	}
}

.latest-posts-toggle-control-margin-bottom {
	margin-bottom: 15px !important;
}

.latest-posts-toggle-control-margin-top {
	margin-top: 15px !important;
}

.latest-posts-image-size-control-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px; /* Adjust spacing between lines */
}

.latest-posts-image-size-control-wrapper > * {
	margin-bottom: 20px; /* Optional: Ensures consistent spacing */
	margin-top: 8px;
}

.latest-posts-image-size-control-wrapper .block-editor-image-size-control {
	display: grid;
	gap: 15px;
}
