.fp-block-latest-posts {
	// Apply overflow for post items, so any floated featured images won't crop the focus style.
	> li {
		overflow: hidden;
	}
}

.fp-block-latest-posts li a > div {
	display: inline;
}

:root :where(.fp-block-latest-posts) {
	padding-left: 2.5em;
}
:root {
	:where(.fp-block-latest-posts.is-grid),
	:where(.fp-block-latest-posts__list) {
		padding-left: 0;
	}
}
