.edit-site-post-edit {
	padding: $grid-unit-30;

	.edit-site-page-header {
		padding: 10px 0;
		border-bottom: none;
	}
}

.dataforms-layouts-panel__field-dropdown {
	.fields-controls__password {
		border-top: $border-width solid $gray-200;
		padding-top: $grid-unit-20;
	}
}
